
.vscode/

.idea/

venv/

*.pyc
*pynb*

datasets/

outputs/

samples/

eval/

pretrained_model/

eval/model/

build/

roi_layers.egg-info/

MNISTDataset/

*.so

.ftpconfig

.ftpignore

*.sh

custom_mnist/

multi_mnist.py